.botao{
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
    float: center;
    border-top-width: 1%;
    border-style: solid;
    border-right-width: 1%;
    border-bottom-width: 1%;
    border-left-width: 1%;
    border-bottom-style: solid;
    border-top-color: #439e0f;
    border-right-color: #439e0f;
    border-bottom-color: #439e0f;
    border-left-color: #439e0f;
    color: #fdfdfd;
    border-radius: 20px;
    background-color: #3ca300;
    width: 40%;
    cursor:pointer;
}

.botao-1:hover {
    background: rgba(0,0,0,0);
    color: #3ca300;
    box-shadow: inset 0 0 0 1px #3ca300;
}

.box_text{
    font-size: 23px;
    border-radius: 25px; 
    border-color: #26ff00;
    border-right-color: #26ff00;
    border-bottom-color: #26ff00;
    padding: 2%;
    width: 60%;
    border-style: solid;
    cursor:text;
    position:relative;
    box-sizing: border-box;
    transition: all 400ms ease;
    text-align: center;
    
}

#background_login{
    background-image: url(Imagens/Background_login.jpg);
                background-position: 20%;
                background-size: cover;
                background-attachment:fixed;
}

.menu{
    display: flex;
    margin-top: 7%;
}

.img_menu{
    size: 20%;
    margin-top: 11%;
    margin-right: 47%;
}