*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.background_cadastro{
    background-image: url(Imagens/background2.png);
    background-position: 20%;
    background-size: cover;
}

.div1{
    width:199vh;
    background-color: #fdfdfdea;
    margin-top: -1%;
    
}

.div2{
    width:30%;
    height:400%;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 20%;
    background-color:#ffffffd5;
    border-radius: 15px 15px;
    }

#texto{
    font-size: 120%;
    border-radius: 25px; 
    border-color: #26ff00;
    border-right-color: #26ff00;
    border-bottom-color: #26ff00;
    padding: 3%;
    width: 80%;
    border-style: solid;
    text-align: center;
}

.botao{
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
    float: center;
    border-top-width: 1%;
    border-style: solid;
    border-right-width: 1%;
    border-bottom-width: 1%;
    border-left-width: 1%;
    border-bottom-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
    color: #fdfdfd;
    border-radius: 20px;
    background-color: #00FF00;
    width: 40%;
    cursor:pointer;
}

.botao-1:hover {
    background: rgba(0,0,0,0);
    color: #00FF00;
    box-shadow: inset 0 0 0 1px #00FF00;
}

.botao-2{
    font-size: 15px;
    padding: 6%;
    float: center;
    border-top-width: 1%;
    border-style: solid;
    border-right-width: 1%;
    border-bottom-width: 1%;
    border-left-width: 1%;
    border-bottom-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
    color: #fdfdfd;
    border-radius: 30px;
    background-color: #00FF00;
    width: 65%;
    cursor:pointer;
}

.botao-2:hover {
    background: rgba(0,0,0,0);
    color: #00FF00;
    box-shadow: inset 0 0 0 1px #00FF00;
}